.material-symbols-outlined {
  vertical-align: -11.5%;
}

.big-icon {
  font-size: 2rem;
}

#quizFrame {
  word-break: keep-all;
}

.flex > * {
  flex-basis: 180px;
  flex-grow: 1;
}

.score-item {
  flex-basis: 12.5%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}