.material-symbols-outlined {
  vertical-align: -11.5%;
}

.big-icon {
  font-size: 2rem;
}

#quizFrame {
  word-break: keep-all;
}

.flex-button{
  width: 25%;
  flex-grow: 1;
  flex-shrink: 1;
}

.score-item {
  flex-basis: 12.5%;
}